#!/bin/bash

/bin/su postgres -c "/usr/bin/pg_dump {{ db_name }}" | /usr/bin/zstd -c9 > /root/backup/{{ db_name }}-dump-`date "+%Y%m%d"`.sql.zst
/usr/bin/tar c -I '/usr/bin/zstd -9' -f /root/backup/media-`date "+%Y%m%d"`.tar.zst /var/www/{{ project_name }}/media/

# delete old backups
/usr/bin/find /root/backup/ -mtime +10 -exec rm {} \;

