{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your Celus user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ reset_url }}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.email }}

{% trans "Looking forward to seeing you in Celus again!" %}

{% blocktrans %}The Celus team{% endblocktrans %}

{% endautoescape %}
